.git
.dev
.env
node_modules
vendor
reset_pass.php
Launch Leantime.ps1
Launch Leantime.bat
Build Leantime.bat
package-lock.json
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
